<%= stylesheet_link_tag('screens') %>
<nav class="navbar navbar-expand-lg navG mb-5">
  <div class="container-fluid">
    <h1 class="navbar-brand fs-2 fw-semibold text-warning">Recipe App</h1>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" w-100 d-flex justify-content-between">
      <ul class="navbar-nav w-auto ">
        <li class="nav-item mx-2 ">
          <%= link_to "Public Recipes", root_path, class: "nav-link active text-light" %>
        </li>
        <% if current_user %>
        <li class="nav-item mx-2">
        <% if user_signed_in?%>
          <%= link_to "My Recipes", "/users/#{current_user.id}/recipes", class: "nav-link active text-light" %>
          <%end%>
        </li>
        <% end %>
        <li class="nav-item mx-2">
          <%= link_to "Food", foods_path, class: "nav-link active text-light" %>
        </li>
        <li class="nav-item mx-2">
          <%= link_to "Inventories", inventories_path, class: "nav-link active text-light" %>
        </li>
      </ul>

      <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-outline-danger me-5 text-light" %>
    </div>
  </div>
</nav>